#root {
  /* max-width: 1280px; */
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.leaflet-marker-pane {
  filter: invert(100%) hue-rotate(320deg) brightness(58%) contrast(90%);
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  filter: invert(100%) hue-rotate(160deg) brightness(95%) contrast(90%);
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
  background: #11403e;
}
